body {
  font-family: "Protest Revolution", sans-serif;
}

.index {
  margin: 0;
  padding: 0;
  background: url(images/pexels-magda-ehlers-1279813.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  padding: 20px 0;
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

.introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.greeting {
  font-size: 24px;
}

h2 {
  margin-bottom: 20px;
}

.btn {
  position: relative;
  top: 20px;
  background: blue;
  padding: 10px;
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.btn::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.btn:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.contact-btn {
  top: 20px;
  position: relative;
  text-decoration: none;
  padding: 10px;
  background: green;
  margin-left: 10px;
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.contact-btn::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.contact-btn:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.animate__backInLeft {
  display: inline-block;
  margin: 0 0.5rem;

  animation: backInLeft;
  animation-duration: 3s;
}

.about {
  background-color: #fde900;
}

.about-picture {
  width: 100%;
  height: auto;
  max-width: 500px;
}

.animate__backInUp {
  display: inline-block;
  margin: 0 0.5rem;

  animation: backInUp;
  animation-duration: 2s;
}

.skills {
  background-color: #d50324;
}

.education-img {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.education-img:hover {
  transform: scale(1.1) translateY(-10px);
}

.work {
  background-color: #903372;
}

.container-work {
  padding: 20px;
}

p {
  font-size: 15px;
}

.project-image {
  width: 350px;
  height: 200px;
  margin-top: 20px;
}

.hover-image {
  transition: transform 0.3s ease-in-out;
}

.hover-paragraph {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 10px;
  max-width: 40%;
  z-index: 1;
  line-height: 1;
}

.btn-project {
  text-decoration: none;
  border: none;
  padding: 0.8em 2.5em;
  outline: none;
  color: white;
  font-style: 1.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.btn-project:before,
.btn-project:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

.btn-project:before {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}

.btn-project:after {
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.btn-project:hover:before {
  width: 115%;
  height: 115%;
}

.contact {
  background-color: #006D9E;
}

.container-contact {
  text-align: center;
}

.container-contact a {
  color: white;
  text-decoration: none;
}

@media (max-width: 769px) {
  .contact-btn {
    top: 50px;
  }

  .about,
  .skills {
    padding: 20px;
  }

  .about-picture,
  .education-img {
    max-width: 100%;
  }

  .container-work {
    padding: 10px;
  }

  .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}